@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
}

body {
  background-color: #333;
  background-image: url(https://images7.alphacoders.com/493/493639.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: "EB Garamond", serif;
}

#title {
  padding: 20px;
  h1 {
    text-shadow: 2px 2px 5px #111;
    font-size: 4em;
  }

  div {
    background-color: #111;
    opacity: 0.8;
    border-radius: 5px;
    padding: 4px;
    font-size: 1em;
    ul {
      column-count: 4;
      padding: 10px;
    }
  }
}

#wrapper {
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

#quote-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 50vw;
  padding: 25px;

  background-image: url(https://i.imgur.com/VwKO2wP.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;

  .emblem {
    width: 5em;
    height: 5em;
    background-image: url(https://i.imgur.com/PGfc4S9.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .quote-text {
    text-align: center;
    width: auto;
    min-width: 450px;
    flex: 1;
    height: auto;
    clear: both;
    font-weight: 500;
    font-size: 2.15em;
  }

  .quote-author {
    &span:empty {
    }
    width: auto;
    height: auto;
    clear: both;
    font-size: 1em;
    text-align: right;
  }
}

.buttons {
  display: flex;
  width: 50vw;
  margin-top: 10px;
  .button {
    border: none;
    border-radius: 3px;
    color: #fff;
    background-color: #222;
    outline: none;
    font-size: 0.85em;
    padding: 8px 18px 6px 18px;
    opacity: 1;
    cursor: pointer;

    &:hover {
      background-color: #333;
    }
  }

  #tweet-quote,
  #tumblr-quote {
    margin: 0 5px;
  }

  #new-quote {
    margin-left: auto;
  }
}

footer {
  p {
    padding: 5px 0;
    font-style: italic;
  }
  color: white;
  text-justify: center;
}

@media screen and (max-width: 768px) {
  #title {
    display: none;
  }
  #quote-box {
    .emblem {
      width: 2em;
      height: 2em;
    }

    .quote-text {
      text-align: center;
      min-width: 100px;
      font-size: 1.15em;
    }

    .quote-author {
      display: none;
    }
  }
}
